<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Result</title>
    <style>
      body {
        background-color: black;
        /* margin: auto; */
      }

      .profile {
        margin: 3em auto;
        left: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-radius: 8%;
        width: 25em;
        height: 30em;
        background-color: whitesmoke;
      }

      p {
        margin: 0;
        margin-top: .2em;
      }

      .profile img {
        width: 15em;
      }
    </style>
  </head>
  <body>
    <div class="profile">
      <img src="/<%=src%>" alt="user profile" />
      <h3><%=id%>님, 환영합니다!</h3>
      <p>비밀번호: <%=pw%></p>
      <p>이름: <%=name%></p>
      <p>나이: <%=age%></p>
    </div>
  </body>
</html>